body{
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-header, .App-footer {
  background-color: #282c34;
  color: white;
  padding: 1.5rem 0;
}
.App-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App-main-container{
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
}
.App-main-container-section{
  width: 100%;
  margin: auto;
}
